<div class="content" role="main">
    <div class="info">
  
      <section class="left-section">
        IWP assignment Due Date: 15th September, 2023 <br />
        <strong>Roll no.: BT21CSE012</strong><br />Semester: 5<br />CSE'25<br />
        <a href="mailto:devansh3839@gmail.com">devansh3839@gmail.com</a> <br />
      </section>
      <section class="right-section">
        <img
          src="../../assets/myPhoto.jpg"
          alt="Devansh Negi" 
          width="100px"
          height="100px"
        />
      </section>
    </div>
    <div>
        <h2>{{ qa.question }}</h2>
        <p [innerHTML]="qa.answer"></p>
    </div>
</div>